.trabajos {
    .filtros {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        label {
            display: flex;
        }

        .opcion {
            padding: 10px 20px;
            border-radius: 100px;
            cursor: pointer;
            border: 1px solid var(--shade-3);
            color: var(--shade-6);

            .dark & {
                color: var(--shade-4);
                border: 1px solid var(--shade-7);
            }
        }

        input[type='radio'] {
            display: none;
            &:checked+.opcion {
                /* busca al hermano html misma jerarquia dentro del padre cuya clase sea .opcion*/
                background: var(--primario);
                color: #fff;
                border: 1px solid transparent;
            }
        }

        @media screen and (max-width:992px) {
            & {
                gap: 10px;
            }

        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px 20px;

        @media screen and (max-width:768px) {
            & {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media screen and (max-width:576px) {
            & {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .trabajo {
            .thumb {
                overflow: hidden;
                max-height: 450px;
                width: 100%;
                display: inline-block;
                border: 5px;
                margin-bottom: 10px;
                img {
                    height: 100%;
                    width: 100%;
                    vertical-align: top;
                    transform: scale(110%);
                    transition: 0.5s ease all;
                }
            }

            &:hover img {
                transform: scale(100%);
            }

            .info {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                align-items: flex-start;

                .nombre {
                    display: inline-block;
                    color: var(--shade-10);
                    font-size: clamp(14px, 3vw, 16px);
                    font-weight: 600;

                    .dark & {
                        color: var(--shade-2);
                    }
                }

                .categoria {
                    font-size: clamp(12px, 3vw, 14px);
                    color: var(--shade-4);
                    

                    .dark & {
                        color: var(--shade-4);
                        font-weight: 500;
                    }
                }

                 

                .btn-ir {
                    background: none;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    width: clamp(24px, 4vw, 30px);
                    height: clamp(24px, 4vw, 30px);

                    svg {
                        width: 100%;
                        color: var(--primario);
                        transition: 0.3s ease all;
                    }
                }
            }
        }



    }
}